@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p><br />

</div>
<div class="ntstcenter">
    <div class="column">
        <img src="~/logo.png" alt="NTST" />
    </div>
    <div class="column">
        <img src="~/ocplogo.jpeg" alt="RHOCP" />
    </div>
</div>