@page
@model IndexModel
@{
    ViewData["Title"] = "NTST Demo Page";
}
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    body {
        background-image: url(fs02gnvizbToXqf1c1t7.png);
        background-size: cover;
    }
</style>
<style>
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    imgblk {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div style="height:50px;"></div>
<div class="wrapper">

    <div style="background-color:white;">
        <div class="nodename">
            <div>
                This application is running from node/pod: @ViewData["node"] / @ViewData["pod"]
            </div>
        </div>
        <div style="height:30px;"></div><br />
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>This page is not intended to do anything useful, only to demonstrate the capabilities of a containerized application platform.</p><br />

        </div>
        <div class="ntstcenter" style="height:100px;">
            <div class="column">
                <img src="~/logo.png" alt="NTST" />
            </div>
            <div class="column">
                <img src="~/ocplogo.jpeg" alt="RHOCP" />
            </div>
        </div>
        <p></p><p></p>
        @*<div style="width:auto;height:auto;">
            <iframe width=1100 height=625 frameborder="0" scrolling="no"
                    src="https://mtr.ecsg.net/public/mapshow.htm?id=3924&mapid=A7F5A4A1-ECF1-4536-B526-5E8494BBFA2F"></iframe>
        </div>*@

        @*<div class="ntstcenter" style="height:350px; width:350px; position: relative; left: calc((100% - 350px)/2)">
            <div class="tenor-gif-embed" data-postid="13459659" data-share-method="host" data-width="100%" data- data-aspect-ratio="1.0"><a href="https://tenor.com/view/woah-what-say-what-huh-shookt-gif-13459659">Woah What GIF</a> from <a href="https://tenor.com/search/woah-gifs">Woah GIFs</a></div>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>*@

        <div class="ntstcenter" style="height:350px; width:350px; position: relative; left: calc((100% - 350px)/2)">
            <div class="tenor-gif-embed" data-postid="11401416" data-share-method="host" data-width="100%" data-aspect-ratio="1.456140350877193"><a href="https://tenor.com/view/noway-nope-no-erroneous-wrong-gif-11401416">Noway Nope GIF</a> from <a href="https://tenor.com/search/noway-gifs">Noway GIFs</a></div>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    </div>
</div>
<div style="height:50px;"></div>