@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    body {
        background-image: url(fs02gnvizbToXqf1c1t7.png);
        background-size: cover;
    }
</style>
<style>
    imgblk {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<div style="height:50px;"></div>
<div class="wrapper">
    <div style="height:auto; width:100%; background-color:white;">

        <div class="text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
        <div class="ntstcenter" style="height:100px;">
            <div class="column">
                <img src="~/logo.png" alt="NTST" />
            </div>
            <div class="column">
                <img src="~/ocplogo.jpeg" alt="RHOCP" />
            </div>
        </div>
        <div style="height:30px;"></div>
        <div class="nodename">
            This application is running from @ViewData["node"].
        </div>
    </div>
</div>
<div style="min-height:50px;"></div>
